{
    "extends": "standard",
    "rules": {
        "indent": ["error", 4],
        "semi": ["error", "always"],
        "object-curly-spacing": [
            "error",
            "never"
        ]
    },
    "globals": {
        "before": true,
        "after": true,
        "it": true,
        "describe": true
    }
}